@font-face {
    font-family: 'EASTARJET-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/EASTARJET-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

body {
    margin: 0;
    font-family: EASTARJET-Medium;
    background-image: url(./photo/logo_small_dark.png);
    text-shadow: 1px 1px 0 white;
    
}


.mapBox {
    width: 70%;
    margin: 0 auto;
    margin-left: 0;
    text-align: center;
    height: 80vh;
    
}

#map {
    width: 100%;
    height: 100%; 
    margin: 0 auto;
}

.container {
    display: flex;
    text-align: center;
    height: 80vh; 
}

.menu {
    margin: 0 auto;
    font-size: 20px;
    height: 100%; 
    font-weight: bold
}


h2 {
    text-align: center;
    font-size: 40px;
    margin: 0;
    line-height: 10vh;
}

footer {
    width: 100px;
    background-color: navy;
}



table{
    background-color: white;
}